
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <b>  from  // GET: Json public ActionResult Index()</b>
</div>
</body>
</html>
