
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript" src="~/JavaScript/Alert"></script>
</head>
<body>
<div>
    <b> from // GET: JavaScript public ActionResult Index()</b>
</div>
</body>
</html>
